@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Lato:wght@400;700&display=swap');
@import "tailwindcss";

/* 

Gold: #ffc404
Dark-gold: #ffab04
Dark-grey: #1d1a16
Dark-grey (hover): #312c1d
Lighter grey: #46443c

*/


:root {
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  margin-top: 5vh;

  color-scheme: light dark;
  color: #d9e2f1;
  background: linear-gradient(#29251c, #2c2306);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

nav {
  background: linear-gradient(#29251c, #2c2306);
}

@media (width < 400px) {
  .resturaunt-title {
    display: none;
  }
}
